@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@using Microsoft.AspNetCore.Mvc.Rendering
@using UmbObservability.Demo.Client
@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Weather>
@{
    Layout = "master.cshtml";

    var weatherData = ViewData["Forecasts"] as IEnumerable<WeatherForecast>;
}
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<section class="section">
    <div class="container">
        <div class="table-container">

            <table class="weather-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Temperature (°C | °F)</th>
                        <th>Weather</th>
                        <th>Summary</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var forecast in weatherData)
                    {
                        <tr>
                            <td>@forecast.ForecastDate.ToString("dd MMMM yyyy")</td>
                            <td>@forecast.TemperatureC °C | @forecast.TemperatureF °F</td>
                            <td>@forecast.Name</td>
                            <td>@forecast.Summary</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</section>

<link rel="stylesheet" href="@Url.Content("~/css/umbraco-starterkit-weather.css")" />